body {
  margin: 0;
  padding: 0;
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.calculator-wrapper {
  padding: 30px;
}

.results-wrapper {
  background-color: #183044;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: felx-start;
}


.mortgage-calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
}

#clear-all {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.7;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.input-container .input-symbol {
  position: absolute;
  top: 1px;
  bottom: 1px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background-color: #e6f2ff;
  color: #666;
}

#amount + .input-symbol {
  left: 1px;
  border-radius: 3px 0 0 3px;

}

#term + .input-symbol,
#interest + .input-symbol {
  right: 1px;
  border-radius: 0 3px 3px 0;
}

#amount {
  padding-left: 30px;
}

#term,
#interest {
  padding-right: 50px;
}

.term-interest-container {
  margin-bottom: 10px;
}

.term-container, .interest-container {
  width: 100%;
}

.term-container {
  margin-bottom: 10px;
}

.radio-container {
  margin-bottom: 20px;
  position: relative;
}

.radio-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

.radio-item:hover,
.radio-item:has(input[type="radio"]:checked) {
  border-color: #c7ea46;
  background-color: rgba(199, 234, 70, 0.2);
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mortgage-calculator h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400; /* Adjust this value for desired thinness */
}

.radio-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.radio-item input[type="radio"]:checked + label .radio-circle {
  border-color: #c7ea46;
}

.radio-item input[type="radio"]:checked + label .radio-circle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c7ea46;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  background-color: #c7ea46;
  color: #1f3b6b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button img {
  margin-right: 8px;
  width: 15px;
  height: 18px;
}

.results-container {
  text-align: center;
  margin-top: 0;
}

.results-container.calculated {
  text-align: left;
}

.results-container h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.results-container p {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.result-box {
  background-color: #0c2434;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.result-highlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #c7ea46;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.result-item {
  margin-bottom: 15px;
}

.result-item p:first-child {
  font-size: 12px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

.result-item p:last-child {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  color: white;
}

.result-item:first-child p:last-child {
  font-size: 42px;
  color: #c7ea46; /* Green color only for monthly repayments */
}


.result-divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 15px 0;
}

.result-item:last-child p:last-child {
  font-size: 18px; /* Smaller font size for total repayment */
}

#monthly-repayments {
  color: #c7ea46;
}

#total-repayment {
  font-size: 24px;
  color: white;
}

.result-item:last-child {
  padding-top: 5px;
}

.results-wrapper {
  padding-bottom: 60px; /* Increase this value to create more space at the bottom */
}

.results-container:not(.calculated) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.results-container:not(.calculated) .large-image {
  width: 40%; /* Adjust this value to make the image smaller */
  max-width: 150px; /* Set a maximum width */
  margin-bottom: 20px;
}

.results-container:not(.calculated) p {
  opacity: 0.7; /* Makes the subtext translucent */
}


@media (max-width: 767px) {
  .calculator-container {
      border-radius: 0;
  }
  .results-wrapper {
      padding-top: 50px;
  }
  button {
      width: calc(100% - 40px);
      margin: 0 20px;
  }
}

@media (min-width: 768px) {
  .calculator-container {
      flex-direction: row;
  }
  .calculator-wrapper,
  .results-wrapper {
      flex: 1;
  }

  .results-wrapper {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 70px;
    padding-top: 30px;
  }
  .mortgage-calculator {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  #clear-all {
    margin-top: 0;
  }
}

/* Error state styles */
.input-container.error input {
  border-color: red;
}

.input-container.error .input-symbol {
  background-color: red;
  color: white;
}

.error-message {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  left: 0;
  bottom: -20px; /* Position below the input */
}

.input-container.error .error-message,
.radio-container.error .error-message {
  display: block;
}

.radio-container {
  margin-bottom: 15px; /* Adjust as needed */
}

.radio-container .error-message {
  margin-top: 5px; /* Add some space above the error message */
}

.radio-container.error {
  margin-bottom: 40px; /* Increase when there's an error to make room for the message */
}

.radio-container .error-message {
  display: none;
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -20px; /* Position below the radio buttons */
}

.radio-container.error .error-message {
  display: block;
}

@media (max-width: 767px) {
  .term-interest-container {
    flex-direction: column;
  }

  .term-container, .interest-container {
    width: 100%;
  }

  .term-container {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .term-interest-container {
    display: flex;
    justify-content: space-between;
  }

  .term-container, .interest-container {
    width: 48%; /* Adjust this value as needed */
  }

  .term-container {
    margin-right: 4%; /* Adjust this value as needed */
  }
}
